<h1>Page Relatorios</h1>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Relatorio" asp-action="PdfRelatorioSharpCore">Gerar Relatório SharpCore</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Relatorio" asp-action="PdfRelatorioSharpCore">Gerar Relatório SharpCore</a>
</li>